@page "/"

@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using GoogleMapsComponents.Maps.Coordinates
@using GoogleMapsComponents.Maps.Drawing


<h1>Google Map</h1>
<div style="height: 1000px; width: 100%; ">
    <GoogleMap @ref="@map1" Id="map1" Options="@mapOptions" Height="100%" OnAfterInit="async () => await OnAfterMapInit()"></GoogleMap>
</div>
@functions {

    private GoogleMap map1 = default;
    private MapOptions mapOptions;

    protected override void OnInitialized()
    {
        mapOptions = new MapOptions()
        {
            Zoom = 14,
            Center = new LatLngLiteral()
            {
                Lat = 54.69,
                Lng = 25.28
            },
            MapTypeId = MapTypeId.Terrain,
            StreetViewControl = false,
            Styles = new MapTypeStyle[]
        {
            //Hides markers of places of interest
            new MapTypeStyle()
            {
                featureType = "poi",
                stylers = new GoogleMapStyleVisibility[]
                {
                    new GoogleMapStyleVisibility()
                    {
                        visibility = "off"
                    }
                }
            },
            new MapTypeStyle()
            {
                featureType = "transit",
                stylers = new GoogleMapStyleVisibility[]
                {
                    new GoogleMapStyleVisibility()
                    {
                        visibility = "off"
                    }
                }
            }
        }
        };
    }

    private async Task OnAfterMapInit()
    {
        await AddMarker();
    }

    //Adds test marker
    private async Task AddMarker()
    {
        var marker = await Marker.CreateAsync(map1.JsRuntime,
        new MarkerOptions()
        {
            Position = new LatLngLiteral()
            {
                Lat = 54.69,
                Lng = 25.28
            },
            Map = map1.InteropObject,
            Icon = new Icon()
            {
                ScaledSize = new GoogleMapsComponents.Maps.Size()
                {
                    Height = 64,
                    Width = 64
                },
                Url = "footprint.png"
            }
        });

        var position = await map1.InteropObject.GetCenter();

        var infoWindow = await InfoWindow.CreateAsync(map1.JsRuntime, new InfoWindowOptions()
        {
            Position = await map1.InteropObject.GetCenter()
        });

        //Placeholder infoWindow text
        var infoWindowContent = "<div id=content>" +
                "<div id=siteNotice>" +
                "</div>" +
                "<h1 id=firstHeading class=firstHeading>Trail name</h1> " +
                "<div id=bodyContent>" +
                "<p>Trail information</p>" +
                "</div></div>";


        await marker.AddListener("click", async () =>
        {
            await infoWindow.SetContent(infoWindowContent);
            await infoWindow.SetPosition(position);
            await infoWindow.Open(map1.InteropObject);
        });
    }
}